In [ ]:
print('Hello, Word!')

Hello, Word!

In [ ]:
print('Who are you as a person')

Who are you as a person

In [1]:
print('What are your goals in life and are you realy interested in learning python for data analysis?')

What are your goals in life and are you realy interested in learning python for data analysis?

In [2]:
print(' I am glad you are here and I am willing to help you in any way possible')

 I am glad you are here and I am willing to help you in any way possible

In [6]:
print('There are various programing languages.\nI prefer python because it is not limited to data analysis,\nYou can also create applications using python so, once you learn it, you wont be limited to doing analysis in it')

There are various programing languages.
I prefer python because it is not limited to data analysis,
You can also create applications using python so, once you learn it, you wont be limited to doing analysis in it

In [ ]:
checkingAccount= 500

In [ ]:
savingsAccount= 1000

A variable is a box containing values.or rather, values are stored in a variable. when the values are in numerical form, to create a **variable** you will just associate the numerical value with a label, or name.

we often use **Camel case** where the first word is in lowercase while the rest of the words begin with an upper case.

Remember, camel case does not have spaces so words are written when joined. ie ***checkingAccount* debitAccount* or *savingAccount***

in the above commands, we declared two variables, checkingAccount and savingsAccount by storing the value 500 and 1000 in them. Remember

You declare a variable by associating a name to it, just like we did above.


#### add some money to your savings account.

#### withdraw some from your checking account.

#### calculate how long it would take you to reach $5,000 if you save $500 every month.

#### calculate how much would be in your checking account if you added $30 every day for a week.

#### calculate how much would be in your checking account if you spent $10 every day.

In [ ]:
#to add a value to a variable, we will just use normal arthmetic functions.
#for example to add 100 to your savings account the code will be
savingsAccount = savingsAccount+100

In [ ]:
#to remove any value from a variable, we will just use normal arithmetic and subtract.
#for example to subtract 50 from your checking account, we will do this
checkingAccount=checkingAccount -50

In [ ]:
#calculate how long it would take you to reach $5,000 if you save $500 every month.
number_of_months_Save= (5000-checkingAccount)/500

In [ ]:
#calculate how much would be in your checking account if you added $30 every day for a week.
# calculate how much would be in your checking account if you spent $10 every day.
checkingAccount= checkingAccount+(30-10)* 7

In [ ]:
# % modulo : returns the remainder of the euclidean division for example
# 1100 = 500 * 2 + 100, so 1100 % 500 = remainder = 100. we can see that bellow
print(savingsAccount % 500)

100

In [ ]:
print (savingsAccount)

1100

In [ ]:
# also, we have the arithetic opperation **. this denotes power. for example if we raise 9 to the power 3 will get 729.
print(9**3)

729

In [ ]:
#we also have this // sign. it denotes integer division. it calculates the integer division (rounded down)
# so, if we say print(savingsAccount//500) we will get the integer division results only which will be 2. there will be no remainder since
# the output rounds down the equation.
# 1100 = 500 * 2 + 100, so 1100 // 500 = integer division result = 2*
print (savingsAccount//500)

2

In [ ]:
#remember, there are ways of writing shorter and better code especialy when dealing with arithmetic operations.
# so rather than using the long form of operations, you can use simplified operators. rather than using (savingsAccount= savingsAccount + 100,)
# you can write it as (savingsAccount +=100)
savingsAccount += 100
print (savingsAccount)

1200

In [ ]:
# so, just as we have seen above, there are simplified equations for every arithmetic equation
# for example (+=)
#(-=)
#(*=)
#(/=)
#

In [ ]:
savingsAccount *= 100

In [ ]:
print(savingsAccount)

1200.0

It is essential to note that variables do not contain numerical values alone. Variables can also be formed from textual values. this means that you can save a text as a variable.
To do this, you will use double quatation marks" " or single quotation marks ' ' to enclose the textual value.for example

In [ ]:
firstName = "Benjamin"
interestRate = 1.5
adress = "15 19 Bloomsbury wat, Holborn, London, WC1A 2TH"

In [ ]:
print(adress)

15 19 Bloomsbury wat, Holborn, London, WC1A 2TH

Numerical values can be generaly divided into two types

***integers***- this are whole number values, ie 1,2,3,4 and -1.-2,-3,-4

***Decimals***. You definetely know what such are. ie 0.1, 0.2,0.3, 0.4, -0.1,-0.2, -0.3 etc.

In [ ]:
# when it comes to integers, creating a variable with integers involves assigning a name to the values. for example
account = 10
# this command creates an integer variable (int)

In [ ]:
print(account)

10

In [ ]:
# creating a variable with a decimal is follows the same process by assigning the value a name.for example
length = 1876.79
width = 870.0
# this command creates decimal number variables, which is known as the (float) type of variable.

As long as the associated value is a decimal number, Python will automatically consider the variable as being ***float***.
This is true even if the digit after the decimal point is a 0, as is the case above with the width variable.

if you mix an ***int*** with a ***float***, the result will always be a ***float***

For example:

In [ ]:
a = 7.5
b = 3
c = a/b
print (c)

2.5

through the above code, we have mixed a ***float*** and a ***int*** and we got a ***float***

if the results from a certain operation between two integer is suppossed to be a decimal, python will automaticaly convert it into a float. just as we have seen above in 7.5/3.

also, when deviding, even though the output should be an integer(int) python will return it as a float. for example

In [ ]:
a = 10
b = 5
c = a/b
print (c)

2.0

however, you can force conversion of a variable into a well defined type.
The process of defining a variable into a well defined type is called **typecasting**.

the name originates from the fact that you are changing or casting the type of variable.

type casting will need you to use (int) for integers and (float) for decimals
 here is an example bellow

In [ ]:
a = 14.0
#remember that the above value is a float
# we can type cast by the code bellow
a = int (a)
print (a)

14

so to transform a variable into an integer or a float, you will need to specify
for example


a = int (a)

***charater strings*** allow you to store text in your variables.


you should note that we call them *** charachter strings *** rather than text because python does not concieve them as texts but rather, a set of charachters put together.

. to create variables containing charachter strings, we will define the variable by using (" ") or (' ').

***charachter strings*** are refered to as ***string*** in python

In [ ]:
city = "New York"
film = "taxi driver"
emptyString = ""

in python, you will realize that you end up asssembling several ***strings*** together.

The process is known as ***concatenation***


 for example

In [ ]:
favouriteCityOne = 'San Francisco'
favouriteCityTwo = 'New York'
favourites = favouriteCityOne + favouriteCityTwo
print (favourites)

San FranciscoNew York

you realize that there is no space between the two cities.

there is a solution for that.

if you need your code to be readable, you have to concatenate your variables with other strings

for example

In [ ]:
name = "Christiano Ronaldo"
address = "Nairobi"
age = "thirty three years"
profession = "footballer"
hobbies = "playing football"
personality = "My name is" " " + name + ' ' "and I live in" " "+ address + "." "\nI am" " " + age +  ' ' "old and I work as a"  ' ' + profession + "." + "\nWhen am not working, I enjoy"  ' ' + hobbies
print (personality)

My name is Christiano Ronaldo and I live in Nairobi.
I am thirty three years old and I work as a footballer.
When am not working, I enjoy playing football

you cannot concanate two different types of variables, for example, if you try to create the above code with the age bieng 39(int). you will recieve an error  since you cannot concatenate a (string) and an (int).  


to get numerical values, you have to cast the integer as a string.

for example

In [ ]:
name = "Christiano Ronaldo"
address = "Nairobi"
age = 33
profession = "footballer"
hobbies = "playing football"
personality = "My name is" " " + name + ' ' "and I live in" " "+ address + "." "\nI am" " " + str (age) +  ' ' " years old \nI work as a"  ' ' + profession + "." + "\nWhen am not working, I enjoy"  ' ' + hobbies
print (personality)

My name is Christiano Ronaldo and I live in Nairobi.
I am 33  years old
I work as a footballer.
When am not working, I enjoy playing football

from the above, you can see how the typecasting  function works where we cast the [int (33)] and made it to be recognised as a string [str  (age)]

In [ ]:
savingsAccount = 10000
rate = 0.75

interest = savingsAccount * (rate/100)

print(interest)

75.0

look at the difference between the text above and the text bellow

In [ ]:
savingsAccount = 10000
rate = 0.75

interest = savingsAccount * (rate/100)
interest = int(interest)

print(interest)

75

we have just typecast (changing one type of value to another )a float to be read as an integer

In [7]:
city = "New York"
cityOne = "Kisumu"
numberOfVisits = 10
numberOfVisits = str(numberOfVisits)
history = 'I was born in ' + cityOne + " and I have travelled to many cities. " "\nOf all the cities I have visited, " + city +  " was my favourite and I ended up visiting it " + numberOfVisits +  " times."
print (history)

I was born in Kisumu and I have travelled to many cities.
Of all the cities I have visited, New York was my favourite and I ended up visiting it 10 times.

from the code above, you can see how we changed numberOfVisists from an integer (int) to a string (str)

so, from the above, you can see that + can be used differently

in numerics(integers and decimals) it is used for summation
in strings (charachter strings) it is used to concatenate


Function: A block of organized, reusable code that performs a single, related action. Functions are defined with a name and can take input values (parameters) and may return a value.


functions are a group of statement or code that are grouped and created to perform a specific action.
you can always recall a function if you need the specific code to be performed again rather than rewriting the code individualy.

In [ ]:
# there are very many functions that can be found in python.
# len() this shows you the length of a string charachter or the length of an item.
#type() this function tells you the type of variable that you have.
# pow(a, b) this is the same as a**b. it multiplies a to the power b.
# abs () this function returns the absolute value of a number.

In [ ]:
a = "pinnapple"
type(a)

str

In [ ]:
len(a)

9

In [ ]:
pow(4, 8)

65536

In [ ]:
abs(-2394.0384023)

2394.0384023

the absolute value of a number is the positive value of the number

the absolute value of -5 will be 5. the absolute value of -2392 will be 2392

In [ ]:
h= "abbracadabra"
print (len(h))
print (type(h))
print (pow(5, 8))
print (abs(-385))

12
<class 'str'>
390625
385